{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block nav-brackets %}
    <li class="active"><a href="/register/">Brackets</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Ruggerfest 2014 Brackets</h1>
        </div>
        <div class="row">
            <div class="span16">
                <div class="brown">
            	    <div class="white">
                        <h3>Ruggerfest 2014 Brackets</h3>
            	        <div class="boxtext">
				<p>Brackets will be made posted in early February 2014.</p>
            	        </div> <!-- boxtext -->
            	    </div> <!-- white -->
            	</div> <!-- brown -->
            </div> <!-- span16 -->
        </div> <!-- row -->
    </div> <!-- content -->
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
