{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block nav-brackets %}
    <li class="active"><a href="/register/">Brackets</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Ruggerfest 2013 Brackets</h1>
        </div>
        <div class="row">
            <div class="span16">
                <div class="brown">
            	    <div class="white">
                        <h3>Ruggerfest 2013 Brackets</h3>
            	        <div class="boxtext">
<p>
Ruggerfest will accept registration for teams until Friday, February 15th. If you have any questions contact about the tournament contact, Toby Lawrence <a href="mailto:toby@ftlrugby.com">(toby@ftlrugby.com)</a> or Jane Bolin <a href="mailto:janefbolin@me.com">(janefbolin@me.com)</a>.
</p>
<p> 
Ruggerfest 2013 begins on Friday night with Old Boys 40+ and High School Girls Exhibition Game. 
</p>
<p> 
Ruggerfest will be USA Rugby Sanctioned Tournament, therefore, we will need to check ID and CIPP compliance.  A team representative must check-in the team between 7-9PM on Friday evening. The rules of the tournament will be provided at this time.
</p>
<p> 
All players must check-in prior to the game with identification. Players are encouraged to check-in on Friday evening and will receive a two-for-one beer ticket that can be used any time during the weekend.  If players do not register on Friday evening, players must check in at the registration tent prior to playing the first game.  Failure to check-in will result ineligibility for USA Rugby insurance.
</p>

<b>Men's Premiere Division</b>
<ul>
<li>Willing</li>
<li>Old Blue</li>
<li>New Orleans</li>
<li>Boca Raton</li>
</ul>

<b>Men's Club Division</b>
<ul>
<li>Boston-Irish</li>
<li>Old Blue</li>
<li>Fort Lauderdale</li>
<li>Myths &amp; Legends</li>
<li>Miami RFC</li>
<li>Miami Tridents</li>
<li>Fort Myers</li>
<li>Duluth</li>
<li>FIU</li>
<li>Master Gators</li>
</ul>

<b>Womens Club Division</b>
<ul>
<li>Fort Miami</li>
<li>ARC Angels</li>
<li>Jacksonville/Daytona</li>
<li>FAU</li>
</ul>

<b>Oldboy 40+ Division</b>
<ul>
<li>Myths &amp; Legends</li>
<li>Detroit Tradesmen</li>
<li>Krewe</li>
<li>St. Pete Pelicans</li>
</ul>

<b>OldBoy 50+ Division</b>
<ul>
<li>Florida Old Boys</li>
<li>Miami Old Boys</li>
<li>Fort Lauderdale Motley</li>
</ul>

<b>Youth exhibition game (Sunday 9 am - 12)</b>

            	        </div> <!-- boxtext -->
            	    </div> <!-- white -->
            	</div> <!-- brown -->
            </div> <!-- span16 -->
        </div> <!-- row -->
    </div> <!-- content -->
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
