{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block nav-brackets %}
    <li class="active"><a href="/register/">Brackets</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Ruggerfest 2013 Brackets</h1>
        </div>
        <div class="row">
            <div class="span16">
                <div class="brown">
            	    <div class="white">
                        <h3>Ruggerfest 2013 Brackets</h3>
            	        <div class="boxtext">
	                    Brackets will be updated as teams enter. Please check back periodically for the updated bracket schedule. Brackets include: Premier Men, Club Men, Women's Club, Collegiate Men & Women (if enough teams register in advance), Old Boys Championship Over 40, Over 50 and Over 55.  Old Boys Championship begin play on Friday night and finishes on Saturday evening. All other brackets play Saturday and Sunday.
            	        </div> <!-- boxtext -->
            	    </div> <!-- white -->
            	</div> <!-- brown -->
            </div> <!-- span16 -->
        </div> <!-- row -->
    </div> <!-- content -->
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
