{% extends "base.html" %}

{% block nav-home %}
    <li class="active"><a href="/">Home</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="span9">
                <div class="brown">
                    <div class="white">
                        <h3>ABOUT RUGGERFEST 2013</h3>
                        <div class="boxtext">
                            The 37th Annual Ruggerfest is attracting international teams and the best competition in the United States. Ruggerfest features mens club and premier, women’s club, men and women’s collegiate, old boys, touch and high school rugby. Why play rugby in the cold? Come to sunny Florida for a weekend of rugby and a swim at the beach.
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>FEATURING</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <ul>
				<li>International Touring Side</li>
				<li>Men's Club Rugby</li> 
				<li>Old Boys Championship</li> 
				<li>Boys &amp; Girls HS Ruggerfest Challenge</li>
				<li>International Touch Tournament</li>
				<li>Excellent Rugby Social!</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>LOCATION AND TIMES</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <strong>February 22-24th 2013.</strong> Central Broward Regional Park.
                            3700 North West 11th Place, Lauderhill, Florida 33311.
                        </div>
                        <div class="boxtext">
                            <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                        </div>
                    </div>
                </div> <!-- brown -->
            </div> <!-- span9 -->
            <div class="span7">
                <div class="blue2">
                    <div class="white">
                        <h3>ACCOMMODATIONS</h3>
                        <div class="boxtext">
                            <ul>
				    <li>Courtyard Fort Lauderdale Plantation. Call (800) 321-2211 and request a reservation under the <b>FLL</b> room block. $146 per night. The cut off date to make reservations is Friday February 8, 2013. 
				    <br/>
				    <a href="http://www.marriott.com/hotels/travel/fllpl-courtyard-fort-lauderdale-plantation/?toDate=2/25/13&groupCode=fllflla&fromDate=2/22/13&app=resvlink">Click here to book a king bedroom</a>. 
				    <br/>
				    <a href="http://www.marriott.com/hotels/travel/fllpl-courtyard-fort-lauderdale-plantation/?toDate=2/25/13&groupCode=fllfllb&fromDate=2/22/13&app=resvlink">Click here to book a doubles room (2 beds)</a>.
</li>
				    <li>Sheraton Cypress Creek Fort Lauderdale.
				    $149 per night for single or double beds.
				    Call Lynette at 954-351-4111. <a
					    href="http://www.sheratonsuitescypresscreek.com/">Click
					    here for website</a>.
				    </li>
                            </ul>
                            Reserve your room now!
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>REGISTRATION FEES</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Men's Premier $450</li>
                                <li>Men's Club/Collegiate $375</li>
                                <li>Old Boys $350</li>
                                <li>Women's Club/Collegiate $300</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>ADDITIONAL LINKS / INFO</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Registration questions? Contact <a href="mailto:janefbolin@me.com">janefbolin@me.com</a>.</li>
                                <li>Interested in sponsoring? Contact <a href="mailto:janefbolin@me.com">janefbolin@me.com</a>.</li>
                                <li>General questions about the tournament? Contact <a href="mailto:toby@ftlrugby.com">toby@ftlrugby.com</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- blue2 -->
                <br/>
                <div class="brown">
                    <div class="row">
                        <div class="span2">
                            <a href="/register/"><img src="/staticfiles/images/registration_logo.png" alt=""></a>
                        </div>
                        <div class="span4">
                            <div class="reglink">
                                <a href="/register/">
                                    <p>CLICK HERE TO REGISTER NOW!</p>
                                    <p>$50 discount if two or more teams enter from a club. Fees increase by $100 after Feb 1st, 2013.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- brown -->
                <br/>
                <div class="blue2">
                    <div class="white">
                        <h3>Sponsors</h3>
                        <div class="boxtext">
                            <a href="http://www.oneills.com/"><img src="/staticfiles/images/oneills.png" alt=""></a>
                        </div>
                    </div>
                </div> <!-- blue2 -->
            </div> <!-- span7 -->
        </div> <!-- row -->
    </div>
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
