{% extends "base.html" %}

{% block nav-home %}
    <li class="active"><a href="/">Home</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="span9">
                <div class="brown">
                    <div class="white">
                        <h3>ABOUT RUGGERFEST 2012</h3>
                        <div class="boxtext">
                            The 36th Annual Ruggerfest is attracting international teams and the best competition in the United States. Ruggerfest features mens club and premier, women’s club, men and women’s collegiate, old boys, touch and high school rugby. Why play rugby in the cold? Come to sunny Florida for a weekend of rugby and a swim at the beach.
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>FEATURING</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <ul>
                                <li>International Touring Sides</li>
                                <li>Men’s Premiere Exhibition Game</li>
                                <li>HS Exhibition Games</li>
                                <li>International Touch Tournament</li>
                                <li>Best Rugby Social on the East Coast!!!</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>LOCATION AND TIMES</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <strong>February 25 and 26th 2012.</strong> Central Broward Regional Park.
                            3700 North West 11th Place, Lauderhill, Florida 33311.
                        </div>
                        <div class="boxtext">
                            <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                        </div>
                    </div>
                </div> <!-- brown -->
            </div> <!-- span9 -->
            <div class="span7">
                <div class="blue2">
                    <div class="white">
                        <h3>ACCOMODATIONS</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Sheraton Suites Cypress Creek. $109 per
                                night excluding taxes. Call 954-772-5400. <a
                                    href="http://www.starwoodmeeting.com/Book/ruggerfest2012">Click
                                    here to register online with discount</a>.</li>
                                <li>Holiday Inn Express, located at 1500 West Commercial Boulevard, Fort Lauderdale, Fl 33309, is 139.00 a night for 4 to a room and with free breakfast, internet, and parking. Please call 954-772-3032 and the rooms are reserved under Fort Lauderdale Rugby. <a href="http://www.hiexpress.com/hotels/us/en/fort-lauderdale/fllwc/hoteldetail?groupCode=RUG">Click here to register online with discount</a>.</li>
                            </ul>
                            Reserve your room now!
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>REGISTRATION FEES</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Men's Premier $450</li>
                                <li>Men's Club/Collegiate $375</li>
                                <li>Old Boys $350</li>
                                <li>Women's Club/Collegiate $300</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>ADDITIONAL LINKS / INFO</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Questions about registration? Contact <a href="mailto:michelle@peytonbolin.com">michelle@peytonbolin.com</a>.</li>
                                <li>Interested in sponsoring? Contact <a href="mailto:jane@peytonbolin.com">jane@peytonbolin.com</a>.</li>
                                <li>General questions about the tournament? Contact <a href="mailto:toby@ftlrugby.com">toby@ftlrugby.com</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- blue2 -->
                <br/>
                <div class="brown">
                    <div class="row">
                        <div class="span2">
                            <a href="/register/"><img src="/staticfiles/images/registration_logo.png" alt=""></a>
                        </div>
                        <div class="span4">
                            <div class="reglink">
                                <a href="/register/">
                                    <p>CLICK HERE TO REGISTER NOW!</p>
                                    <p>$50 discount if two or more teams enter from a club. Fees increase by $100 after Feb 15th, 2012.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- brown -->
            </div> <!-- span7 -->
        </div> <!-- row -->
    </div>
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club 2011-2012</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
