{% extends "base.html" %}

{% block nav-home %}
    <li class="active"><a href="/">Home</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="span9">
                <div class="brown">
                    <div class="white">
                        <h3>ABOUT RUGGERFEST 2014</h3>
                        <div class="boxtext">
				THE 38TH ANNUAL RUGGERFEST IS ON! We are attracting international teams and the best competition in the United States to meet in sunny south Florida the last weekend in February for our annual pre-season competitive tournament. Ruggerfest features mens club and premier, women’s club, men and women’s collegiate, old boys, touch and high school rugby. Why play rugby in the cold? Come to sunny Florida for a weekend of rugby and a swim at the beach.
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>IMPORTANT TOURNAMENT HIGHLIGHTS</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <ul>
				<li>REGISTER YOUR TEAM BY OCTOBER 30 TO RECEIVE $100 DISCOUNT!!!</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="blue">
                        <h3>LOCATION AND TIMES</h3>
                    </div>
                    <br/>
                    <div class="white">
                        <div class="boxtext">
                            <strong>February 21-23th 2014.</strong> Central Broward Regional Park.
                            3700 North West 11th Place, Lauderhill, Florida 33311.
                        </div>
                        <div class="boxtext">
                            <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=central+broward+regional+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,84.023438&amp;vpsrc=6&amp;ie=UTF8&amp;hq=central+broward+regional+park&amp;hnear=&amp;t=m&amp;cid=12507126687247870522&amp;ll=26.303264,-80.204315&amp;spn=0.430885,0.631714&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                        </div>
                    </div>
                </div> <!-- brown -->
            </div> <!-- span9 -->
            <div class="span7">
                <div class="blue2">
                    <div class="white">
                        <h3>ACCOMMODATIONS</h3>
                        <div class="boxtext">
                            <ul>
				    <li>We are proud to announce that the Days Inn Bahia Cabana Beach Resort on Fort Lauderdale Beach will be our host hotel for Ruggerfest 2014. <a href="http://www.bahiacabanaresort.com/">http://www.bahiacabanaresort.com/</a>. Details and booking info to be posted shortly. Please check back.</li>
                            </ul>
                            Reserve your room now!
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>REGISTRATION FEES</h3>
                        <div class="boxtext">
                            <ul>
                                <li>$100 Discount If Paid Before Oct. 30th</li>
				<li>Men's Premier $450 (<a href="./register/">Now $350</a>)</li>
                                <li>Men's Club/Collegiate $375 (<a href="./register/">Now $275</a>)</li>
                                <li>Old Boys $350 (<a href="./register/">Now $250</a>)</li>
                                <li>Women's Club/Collegiate $300 (<a href="./register/">Now $200</a>)</li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="white">
                        <h3>ADDITIONAL LINKS / INFO</h3>
                        <div class="boxtext">
                            <ul>
                                <li>Registration questions?</li>
                                <li>Interested in sponsoring?</li>
				<li>General questions about the tournament?</li>
				<li>Contact <a href="mailto:toby@ftlrugby.com">toby@ftlrugby.com</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- blue2 -->
                <br/>
                <div class="brown">
                    <div class="row">
                        <div class="span2">
                            <a href="/register/"><img src="/staticfiles/images/registration_logo.png" alt=""></a>
                        </div>
                        <div class="span4">
                            <div class="reglink">
                                <a href="/register/">
                                    <p>CLICK HERE TO REGISTER NOW!</p>
                                    <p>$100 discount if for teams registered before Oct 30.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- brown -->
                <br/>
                <div class="blue2">
                    <div class="white">
                        <h3>Sponsors</h3>
                        <div class="boxtext">
                            <a href="http://www.oneills.com/"><img src="/staticfiles/images/oneills.png" alt=""></a>
                        </div>
                    </div>
                </div> <!-- blue2 -->
            </div> <!-- span7 -->
        </div> <!-- row -->
    </div>
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
