{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block nav-register %}
    <li class="active"><a href="/register/">Register</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Ruggerfest 2012 registration is now closed.</h1>
            <h2>Please come back later this year and register for 2013.</h2>
        </div>
        <div class="row">
        </div> <!-- row -->
    </div> <!-- content -->
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club 2011-2012</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
