{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block nav-schedule %}
    <li class="active"><a href="/schedule/">Schedule</a></li>
{% endblock %}

{% block body %}

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>Ruggerfest 2013 Schedule</h1>
        </div>
        <div class="row">
            <div class="span16">
		<div class="boxtext">
		    <p>Points system</p>
		    <ul>
	                 <li>Win = 3</li>
	                 <li>Tie = 1</li>
	                 <li>Bonus point win with 4 or more trys = 1</li>
	                 <li>Bonus point lose &lt; 7 = 1</li>
		    <ul>
		</div>
		<div class="boxtext">
		    <p>The Mens 40+, 50+ and Womens competition will be the team with the highest points total.</p>
		</div>
                <img src="/staticfiles/images/ruggerfest_2013_brackets.jpg" alt="">
            </div> <!-- span16 -->
        </div> <!-- row -->
    </div> <!-- content -->
    <footer>
    <p>&copy; Fort Lauderdale Rugby Football Club</p>
    </footer>
</div> <!-- /container -->

{% endblock %}
